body {
  font: 400 14px 'Lato', sans-serif;
  background-color: #09c6a2;
  color: #fff;
  width: 100%;
}

/* Commom use */
h1 {
  font-size: 5em;
  font-weight: 900;
  /* margin: 2em auto 2em; */
}

h3 {
  padding-top: .4em;
}

.middle-center {
  padding: 8em 0;
}

/* Header */
.g-nav {
  margin-top: 2em;
}

.g-nav li a {
  font-size: 1.5em;
  font-weight: 700;
  padding-bottom: .5em;
  margin-right: 1.5em;
  border-bottom: 2px solid transparent;
  transition: border-bottom .3s;
}

.g-nav li a:hover {
  border-bottom: 2px solid #fff;
}

/* Main body */
.g-body .intro-section,
.g-body .ui-section {
  max-width: 75em;
}

.g-body .intro-section {
  margin: 5em auto 0;
}

.g-body .intro-section .btn-default {
  font-size: 2em;
  background-color: transparent;
  border-radius: .2em;
  border: 2px solid white;
  margin: 2em auto 3em;
  padding: .4em;
}

.g-body .intro-section .btn-default:hover {
  background-color: #08b695;
}

.g-body .ui-section {
  /* margin: .5em auto 0; */
}

.g-body .bike-block{
  margin: 2em auto;
  padding: 2em 10em;
}

.g-body .work-env-section {
  margin-top: 2em;
}

/* Footer */
.g-footer,
.g-footer .group {
  height: 7em;
}

.g-footer {
  height: 7em;
  margin-top: 2em;
  text-align: center;
}

.g-footer .socialIcon li {
  display: inline-block;
  padding: 8px;
}



